{%extends 'blog/base.html' %} {%block content%}
<h1>Register</h1>
<form method="POST">
  {%csrf_token %}
  <label>username</label><br />
  <input type="text" name="username" placeholder="ENTER USERNAME" />
  <br /><br />
  <label> Email</label>
  <br />
  <input type="email" name="email" placeholder="ENTER EMAIL" /><br /><br />
  <label>Password</label>
  <br />
  <input
    type="password"
    name="password"
    placeholder="enter password"
  /><br /><br />
  <label>Confirm Password</label>
  <br />
  <input
    type="password"
    name="confirm_password"
    placeholder="confirm password"
  /><br /><br />
  <button type="submit">Register</button>
</form>

<p>Already have an account? 
<a href="{%url 'login' %}">Login here</a>
</p>
{%endblock%}
